<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
</div>
<div>This is where mfe-a begins...</div>
<mfe-a-element message="Hello mfe-a, this is mfe-portal-ab!"></mfe-a-element>
<div>...This is where mfe-a ends!</div>
<p></p>
<div>This is where mfe-b begins...</div>
<mfe-b-element message="Hello mfe-b, this is mfe-portal-ab!"></mfe-b-element>
<div>...This is where mfe-b ends!</div>

<router-outlet></router-outlet>
